body {
    background: #1b262c;
    color: #0f4c75;
    font-family: 'Roboto', sans-serif;
}

.borderLeft {
    border-left: #e84e4f solid 80px;
}

.borderLeftWhite {
    border-left: #fff solid 80px;
}

.table{
    color: white;
}

.curedPercentage {
    color: #3aff00;
    font-weight: bold;
    font-size: 80px;
}

.deathsPercentage {
    color: #ff2400;
    font-weight: bold;
    font-size: 80px;
}

.infected {
    font-weight: bold;
    font-size: 80px;
}

.cured {
    color: #3aff00;
    font-weight: bold;
    font-size: 40px;
}

.deaths {
    color: #ff2400;
    font-weight: bold;
    font-size: 40px;
}

.modal-content {
    position: fixed;
    bottom: 5%;
    left: 25%;
    display: none;
    z-index: 1;
}

h1 {
    color: #bbe1fa;
    font-size: 50px;
}

h2 {
    color: #bbe1fa;
    font-size: 40px;
}

.borderBottom {
    border-bottom: 1px solid;
}

h3 {
    color: #bbe1fa;
    font-size: 30px;
}

h4 {
    color: #bbe1fa;
    font-size: 20px;
}

@media screen and  (min-width: 768px) and (max-width: 992px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    .deathsPercentage {
        font-size: 40px;
    }
    .curedPercentage {
        font-size: 40px;
    }
    .infected {
        font-size: 40px;
    }
}
@media screen and  (min-width: 992px) and (max-width: 1366px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    .deathsPercentage {
        font-size: 50px;
    }
    .curedPercentage {
        font-size: 50px;
    }
    .infected {
        font-size: 50px;
    }
}
@media screen and  (min-width: 1366px) and (max-width: 4920px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    .deathsPercentage {
        font-size: 40px;
    }
    .curedPercentage {
        font-size: 40px;
    }
    .infected {
        font-size: 40px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    .deathsPercentage {
        font-size: 40px;
    }
    .curedPercentage {
        font-size: 40px;
    }
    .infected {
        font-size: 40px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    .deathsPercentage {
        font-size: 27px;
    }
    .curedPercentage {
        font-size: 27px;
    }
    .infected {
        font-size: 27px;
    }
}

@media all and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 13px;
    }
    .deathsPercentage {
        font-size: 25px;
    }
    .curedPercentage {
        font-size: 25px;
    }
    .infected {
        font-size: 25px;
    }
}